.resize-container{
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
    img{
        display: block;
    }
    :hover,:active{
        img{
            outline: 2px dashed rgba(222,60,80,0.9);
        }
    }
}


%extend_1{
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,0.9);
    z-index: 999;
}

.resize-handle-nw{
    @extend %extend_1;
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}
.resize-handle-sw{
    @extend %extend_1;
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne{
    @extend %extend_1;
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se{
    @extend %extend_1;
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    z-index: 999;
    width: 200px;
    height: 200px;
    border: solid 2px rgba(222,60,80,0.9);
    box-sizing: content-box;
    pointer-events: none;
    &:after,&:before{
        content: '';
        position: absolute;
        display: block;
        width: 204px;
        height: 40px;
        border-left: dashed 2px rgba(222,60,80,0.9);
        border-right: dashed 2px rgba(222,60,80,0.9);
        box-sizing: border-box;
    }
    &:before{
        top: 0;
        margin-left: -2px;
        margin-top: -40px;
    }
    &:after{
        bottom: 0;
        margin-left: -2px;
        margin-bottom: -40px;
    }
}

.overlay-inner{
    &:after,&:before{
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 204px;
        border-top: dashed 2px rgba(222,60,80,0.9);
        border-bottom: dashed 2px rgba(222,60,80,0.9);
        box-sizing: border-box;
    }
    &:before{
        left: 0;
        margin-left: -40px;
        margin-top: -2px;
    }
    &:after{
        right: 0;
        margin-right: -40px;
        margin-top: -2px;
    }
}

.btn-crop{
    position: absolute;
    vertical-align: bottom;
    right: 50px;
    bottom: 5px;
    padding: 5px;
    z-index: 999;
    background-color: rgb(222,60,80);
    border: none;
    border-radius: 5px;
    color: white;
}


